.input {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    border-image-width: 0;
    color: white;
    font-size: calc(0.6rem + 1vw);
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-family: 'monospace', "Andale Mono", serif;
}

input:focus {
    outline-style: none;
    cursor: pointer;
}

input::placeholder {
    color: white;
    opacity: 0.3;
}

.checkbox {
    margin: 0;
}

.done {
    font-size: calc(0.3rem + 1vw);
    color: #ffffff88;
    text-decoration: line-through;
    list-style: none;
}

.todo {
    min-width: calc((0.6rem + 1vw) * 16);
    background-color: #00000044;
    box-shadow: inset 0px 0px 0.2em #000000;
    padding: 0.3em;
    backdrop-filter: blur(0.1em);
}

.centerElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.fixedHeight{
    flex:0 0 4em;
}

.focus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.focus p {
    font-size: calc(0.6rem + 1vw);
    margin: 0;
}