div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

:root {
    font-size: 1em;
    color: white;
    font-family: Geneva, Verdana, sans-serif;
}

.clock {
    font-family: 'monospace', "Andale Mono", serif;
    font-size: 7rem;
    margin: 0;
    text-shadow: black 0 0 0.5em;
}

.motto {
    font-family: "Songti SC", "Heiti SC", serif;
    margin-top: 1em;
    font-size: 1rem;
    text-shadow: black 0 0 0.5em;
}

@media (min-width: 600px) {
    :root {
        font-size: 2em;
    }

    .clock {
        font-size: 4rem;
    }
}
